html, body {padding:0px;margin: 0px 0px 0px 0px;width: 100%; height: 100%; font-family: sans-serif; overflow: -moz-scrollbars-none;}

::-webkit-scrollbar { 
    display: none; 
}

#shortened_header{

	height: 8%;
	width: 100%;
}
#title_big{
	font-size: 4.5vw;
	font-weight: bold;
	line-height: 150%;
	float: left;
	margin: 1.25% 0px 0px .1%;
}
#title2_big{
	float: left;
	font-size: 1.4vw;
	margin: 1.25% 0px 0px 34%;
	font-weight: bold;

}

#title1 {

	font-size: 2.25vw;
	font-weight: bold;
	float: left;
	margin: 1.25% 1% 0px 2%;
}

#title2{

	color: Gray;
	font-size: 1.75vw;
	font-weight: lighter;
	float: left;
	letter-spacing: 13px;
	margin: 1.7% 1% 0px 0px;


}

#title3{

	color: Gray;
	font-size: 1.75vw;
	font-weight: lighter;
	float: left;
	letter-spacing: 10px;
	margin: .5% 0px 0px 2%;


}

#stackLogo_header1 {

	float:right;
	margin: .1% 2% 0px 0px;
	max-width: 10%;
	max-height: auto;
}

#stackLogo_header2 {

	float: right;
	display: inline-block;
	margin: .1% 2% 1% 0px;
	overflow: hidden;
	max-height: 98%;
	max-width: 10%;
}

#stackLogo_header1 img{

	width: 100%;

}

#stackLogo_header2 img{

	width: 100%;

}

#logos_home{

	position: fixed;
	z-index: -10;
	margin: 3% 0px 0px 5px;
	max-width: 29%;
	max-height: 5%;
}

#logos_home img{

	width: 22%;

}

#home {
	overflow: scroll;
	color: Gray;
	font-size: 1vw;
	position: fixed;
	max-width: 24%;
	margin: 8.25% 0px 0px 2%;
	max-height: 72%;
}

#home img {

	width: 98%;
}

#home_btns_container{

	position: fixed;
	margin: 12% 0px 0px 28%;
	width: 78%;
	height: 80%;
}

.btn_box{

	-webkit-border-radius: 0px 40px 40px 40px;
   	-moz-border-radius: 0px 40px 40px 40px;
   	border-radius: 0px 40px 40px 40px;
	-webkit-box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.2);
	background: white;
	border-top: 5vw solid #139480;
	height: 32%;
	width: 20%;
	float: left;
	margin-right: 3%;
	margin-top: 2%;


}

.btn_box_burg{
	-webkit-border-radius: 0px 40px 40px 40px;
   	-moz-border-radius: 0px 40px 40px 40px;
   	border-radius: 0px 40px 40px 40px;
	-webkit-box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.2);
	background: white;
	border-top: 5vw solid #72174b;
	height: 32%;
	width: 20%;
	float: left;
	margin-right: 3%;
	margin-top: 2%;

}
.btn_box div{
	margin: 5% 10% 2.5% 10%;
	color: black;
	font-size: 1.25vw;
	font-weight: bold;


}

.btn_box_burg div{
	margin: 5% 10% 2.5% 10%;
	color: black;
	font-size: 1.25vw;
	font-weight: bold;


}
.btn_box p{
	color: Gray;
	margin: .25% 10% 2.5% 10%;
	font-size: .9vw;

}
.btn_box_burg p{
	color: Gray;
	margin: .25% 10% 2.5% 10%;
	font-size: .9vw;

}

#socialMedia_btns {
	position:fixed;
	margin: 50% 0 0 9%;
	max-width: 20%;
	max-height: 4%;
	font-weight: bold;
	font-size: 1.35vw;


}

#socialMedia_btns img{

	width: 8%;
	height: 2%;
	margin-right: 7.5%;

}

#tier2_socialMedia_btns {
	position:absolute;
	margin: 7% 0 0 70%;
	max-width: 20%;
	max-height: 4%;
	font-weight: bold;
	font-size: 1.35vw;


}

#tier2_socialMedia_btns img{

	width: 8%;
	height: 2%;
	margin-right: 7.5%;

}

#tier2_socialMedia_btns_right {
	position:absolute;
	margin: 3.5% 0 0 75%;
	max-width: 20%;
	max-height: 4%;
	font-weight: bold;
	font-size: 1.35vw;


}

#tier2_socialMedia_btns_right img{

	width: 8%;
	height: 2%;
	margin-right: 7.5%;

}
#media_container {

	width: 100%;
	height: 78%;
	background-color: Gray;
	z-index: 10;
}

iframe {
	display: block;
    width: 75%;
    height: 99.75%;
    margin-left: 11%;

    background-color: #000;
}

#utility_btns{
	float: left;
	position: absolute;
	margin: 2.75% 0 0 2%;
	width: 14%;
}

#utility_btns img{

	width: 28%;
	height: auto;
	margin-right: 4%;


}

#utility_btns_home{
	float: left;
	position: absolute;
	margin: 50% 0 0 2%;
	width: 14%;
}

#utility_btns_home img{

	width: 28%;
	height: auto;
	margin-right: 4%;


}
#scroll_btn{
	z-index: 10;
	background-position: 0 10px;

}

#tier2_paragraphs_container{
	position:relative;
	width:75%;
	height:10%;
	color: Gray;
	font-size: 1vw; 
	margin: 3.5% 0 0 14%;


}

#tier2_paragraphs_container div{
	float:left;
	max-width: 45%;
	margin-right: 3%;


}

#tier2_logos {

	position: relative;
	z-index: -10;
	margin: 2% 0px 0px 5px;
	max-width: 29%;
	max-height: 5%;


}

#tier2_logos img{

	width: 22%;


}

#tier2_logos_middle {
	position: fixed;
	margin: 2% 0px 0px 32%;
	max-width: 29%;
	max-height: 5%;


}

#tier2_logos_middle img{

	width: 22%;


}