html, body {padding:0px;margin: 0px 0px 0px 0px;width: 100%; height: 100%; font-family: sans-serif;}

#shortened_header{

	height: 10%;
	width: 100%;
}

#title1 {

	font-size: 2.5vw;
	font-weight: bold;
	float: left;
	margin: 1.75% 30px 0px 2%;
}

#title2{

	color: Gray;
	font-size: 2vw;
	font-weight: lighter;
	float: left;
	letter-spacing: 13px;
	margin: 2.2% 20px 0px 0px;


}

#title3{

	color: Gray;
	font-size: 1.75vw;
	font-weight: lighter;
	float: left;
	letter-spacing: 10px;
	margin: 1% 0px 0px 2%;


}

#stackLogo_header1 {

	float: right;
	margin: .2% 2% 0px 0px;
	max-height: 19%;
	max-width: 10%;

}

#stackLogo_header2 {

	float: right;
	margin: .2% 2% 1% 0px;
	overflow: hidden;
	max-height: 96%;
	max-width: 10%;
}

#stackLogo_header1, #stackLogo_header2 img{

	height: 100%;
	width: 100%;

}

#logos_home{

	position: fixed;
	z-index: -10;
	margin: 3% 00px 0px 5px;
	max-width: 29%;
	max-height: 5%;
}

#logos_home img{

	width: 22%;



}

#home {

	color: Gray;
	font-size: 1vw;
	position: fixed;
	max-width: 19%;
	margin: 9.5% 0px 0px 2%;
}

#home_btns_container{

	position: fixed;
	margin: 9% 0px 0px 23%;
	width: 80%;
	height: 80%;
}

.btn_box{

	-webkit-border-radius: 0px 40px 40px 40px;
   	-moz-border-radius: 0px 40px 40px 40px;
   	border-radius: 0px 40px 40px 40px;
	-webkit-box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.2);
	background: white;
	border-top: 5vw solid #139480;
	height: 32%;
	width: 20%;
	float: left;
	margin-right: 3%;
	margin-top: 3%;


}
.btn_box div{
	margin: 5% 10% 2.5% 10%;
	color: black;
	font-size: 1.1vw;
	font-weight: bold;


}
.btn_box p{
	color: Gray;
	margin: .25% 10% 2.5% 10%;
	font-size: .9vw;

}

#socialMedia_btns {
	position:fixed;
	margin: 47.9% 0 0 9%;
	max-width: 20%;
	max-height: 4%;
	font-weight: bold;
	font-size: 1.35vw;


}

#socialMedia_btns img{

	width: 8%;
	height: 2%;
	margin-right: 7.5%;

}

#media_container {

	width: 100%;
	height: 77%;
	background-color: Gray;
	z-index: 10;
}

iframe {
	display: block;
    width: 75%;
    height: 99.75%;
    margin-left: 11%;

    background-color: #000;
}

#utility_btns{
	position:fixed;
	margin: 2% 0 0 2%;
	max-width: 10%;
	max-height: 4%;

}

#utility_btns img{

	width: 8%;
	height: 2%;
	margin-right: 4%;


}

#tier2_paragraphs_container{
	position:relative;
	width:75%;
	height:10%;
	color: Gray;
	font-size: 1vw; 
	margin: 4% 0 0 11%;


}

#tier2_paragraphs_container div{
	float:left;
	max-width: 45%;
	margin-right: 3%;


}

#tier2_logos {

	position: relative;
	z-index: -10;
	margin: 2% 0px 0px 5px;
	max-width: 29%;
	max-height: 5%;


}

#tier2_logos img{

	width: 22%;



}