html, body {padding:0px;margin: 0px 0px 0px 0px;width: 100%; height: 100%; font-family: sans-serif; overflow: -moz-scrollbars-none;}

::-webkit-scrollbar { 
    display: none; 
}

#shortened_header{

	height: 8%;
	width: 100%;
}
#title_big{
	font-size: 5.25vw;
	font-weight: bold;
	line-height: 120%;
	font-family: "DINOT";
	letter-spacing: -3px;
	float: left;
	position: absolute;
	margin: .05% 0px 0px 26%;
}

#title_big img {

	width: 99%;
}
#title2_big{
	float: left;
	font-size: 1.4vw;
	margin: 1.25% 0px 0px 34%;
	font-weight: bold;

}

#title1 {

	float: left;
	margin: -.5% 1% 0px 1%;
}

#title1 img {

	width: 25%;

}

#title1_tier2 {

	float: left;
	margin: 1% 1% 0px 1%;
}

#title1_tier2 img {

	width: 25%;

}

#title2{

	color: Gray;
	font-size: 1.9vw;
	font-weight: lighter;
	font-family: "DINOT", "arial", "helvetica";
	float: left;
	letter-spacing: 11px;
	margin: 1.5% 1% 0px 0px;


}

#title3{

	color: Gray;
	font-size: 1.75vw;
	font-weight: lighter;
	float: left;
	letter-spacing: 10px;
	margin: .5% 0px 0px 2%;


}

#stackLogo_header1 {

	float:right;
	margin: .1% 2% 0px 0px;
	max-width: 10%;
	
}

#stackLogo_header2 {

	float: right;
	display: inline-block;
	margin: -4.1% 2% 1% 0px;
	overflow: hidden;
	max-height: 98%;
	max-width: 10%;
}

#stackLogo_header1 img{

	width: 100%;

}

#stackLogo_header2 img{

	width: 100%;

}

#logos_home{

	position: fixed;
	z-index: -10;
	margin: 2.5% 0px 0px 5px;
	max-width: 28.5%;
	max-height: 5%;
}

#logos_home img{

	width: 22%;

}

#home {
	overflow: scroll;
	color: Gray;
	font-size: 1vw;
	position: absolute;
	max-width: 24%;
	margin: 7.75% 0px 0px 2%;
	max-height: 72%;
}

#home img {
	margin-left: -1%;
	margin-top: 0%;
	width: 96%;
}

#home_btns_container{

	position: fixed;
	margin: 10% 0px 0px 28%;
	width: 78%;
	height: 80%;
}

#home_btns_container img{
	float: left;
	margin: -36% 0 0 -1%;
	width: 50%;


}

.btn_box{

	-webkit-border-radius: 0px 40px 40px 40px;
   	-moz-border-radius: 0px 40px 40px 40px;
   	border-radius: 0px 40px 40px 40px;
	-webkit-box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.2);
	background: white;
	border-top: 5.3vw solid #139480;
	height: 32%;
	width: 20%;
	float: left;
	margin-right: 3%;
	margin-top: 2%;


}

.btn_box_burg{
	-webkit-border-radius: 0px 40px 40px 40px;
   	-moz-border-radius: 0px 40px 40px 40px;
   	border-radius: 0px 40px 40px 40px;
	-webkit-box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.2);
	background: white;
	border-top: 5.3vw solid #72174b;
	height: 32%;
	width: 20%;
	float: left;
	margin-right: 3%;
	margin-top: 2%;

}

.btn_box p{
	color: Gray;
	margin: .25% 10% 2.5% 10%;
	font-size: .9vw;

}
.btn_box_burg p{
	color: Gray;
	margin: .25% 10% 2.5% 10%;
	font-size: .9vw;

}

#box_title{
	margin: 3% 10% 2.5% 10%;
	color: black;
	font-size: 1.25vw;
	font-weight: bold;


}


#socialMedia_btns {
	position:fixed;
	margin: 0 0 0 15%;
	bottom: 5.5%;
	max-width: 20%;
	max-height: 4%;
	font-weight: bold;
	font-size: 1.35vw;


}

#socialMedia_btns img{

	width: 8%;
	height: 2%;
	margin-right: 7.5%;

}

#tier2_socialMedia_btns {
	float:right;
	margin: 2% 6% 0 0%;
	max-width: 20%;
	max-height: 4%;
	font-weight: bold;
	font-size: 1.35vw;


}

#tier2_socialMedia_btns img{

	width: 8%;
	height: 2%;
	margin-right: 7.5%;

}

#tier2_socialMedia_btns_right {
	position:absolute;
	margin: -3.5% 0 0 75%;
	max-width: 20%;
	max-height: 4%;
	font-weight: bold;
	font-size: 1.35vw;


}

#tier2_socialMedia_btns_right img{

	width: 8%;
	height: 2%;
	margin-right: 7.5%;

}
#media_container {

	width: 100%;
	height: 78%;
	background-color: Gray;
	z-index: 10;
}

iframe {
	display: block;
    width: 75%;
    height: 99.75%;
    margin-left: 11%;
    background-color: #000;
}

#utility_btns{

	margin: 2.75% 0 0 2.25%;
	width: 14%;
}

#utility_btns img{

	width: 100%;
	height: auto;
	margin-right: 4%;


}

#utility_btns_home{
	position: fixed;
	margin: 0 0 0 2%;
	bottom: 1.5%;
	width: 14%;

}

#utility_btns_home img{

	width: 100%;
	height: auto;
	margin-right: 4%;


}
.btnAndTxt_container {
	margin: 0;
	width: 32%;
	float: left;
	text-align: center;
}

.btnAndTxt_container_tier2 {
	margin: 0;
	max-width: 24%;
	float: left;
	text-align: center;
}

#btn_text {
	font-size: .75vw;
	color: #129481;
	font-weight: bold;
	
}

#btn_text_tier2 {
	width: 130%;
	font-size: .75vw;
	color: #129481;
	font-weight: bold;
	margin-right: 10%;
	
}

#scroll_btn{
	
	z-index: 10;
	background-position: 0 10px;

}

#toggleLanguage_btn{
	margin-left: 15%;
	
}

#tier2_paragraphs_container{
	position:relative;
	width:78%;
	color: Gray;
	font-size: 1vw; 
	margin: -3.25% 0 0 16%;
	float: left;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;


}

#tier2_paragraphs_container p{
	
	max-width: 82%;
	margin-right: 3%;

}

#tier2_logos {

	position: relative;
	z-index: -10;
	margin: 2% 0px 0px 5px;
	max-width: 29%;
	max-height: 5%;


}

#tier2_logos img{

	width: 22%;


}

#tier2_logos_middle {
	position: fixed;
	margin: -4.75% 0px 0px 32%;
	max-width: 29%;
	max-height: 5%;


}

#tier2_logos_middle img{

	width: 22%;


}

#dialogoverlay{
	display: none;
	opacity: .8;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: absolute;
	background: #000;
	border-radius:2px; 
	margin: 15% 0 0 0;
	width:550px;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; font-size: 22px; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; font-size: 14px;}
#dialogboxfoot button {width: 100px; height: 24px;}